<!-- home.html -->
<div class="jumbotron text-center">
	<h2>Customer Manager - HOME</h2>
	<br>
	<div class="container">

		<button ng-show="loginUser.role == 'USER'" class="btn btn-primary btn-block" ng-click="showUserPage()">User Office</button><br>
		<button ng-show="loginUser.role == 'ADMIN'" class="btn btn-info btn-block" ng-click="showAdminPage()">Admin Office</button><br>
		<a href="/login" ng-show="loginUser.role == 'ANONYMOUS'">
		<button class="btn btn-success btn-block">Login</button><br>
		</a>

	</div>

</div>